body {
    text-align: center;
    background-color:azure;
}

table {
    width:60%;
    margin:auto;
    font-size:1.5em;
}

td {
    border-bottom: 1px solid grey;
}

th {
    border-bottom: 2px solid steelblue;
}

.tr1 {
    background-color: lightsteelblue;
}

.tr2 {
    background-color: white;
}

.td1 {
    color: gainsboro;
}